---
version: 1
interactions:
- request:
    body: '{"cluster":"us-east-1","label":"linodego-test-bucket"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"size": 0, "region": "us-east", "objects": 0, "label": "linodego-test-bucket",
      "cluster": "us-east-1", "created": "2018-01-02T03:04:05", "hostname": "linodego-test-bucket.us-east-1.linodeobjects.com"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1569597880"
      X-Spec-Version:
      - 4.5.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: GET
  response:
    body: '{"data": [{"region": "us-east", "cluster": "us-east-1", "created": "2018-01-02T03:04:05",
      "hostname": "linodego-test-bucket.us-east-1.linodeobjects.com", "size": 0, "label":
      "linodego-test-bucket", "objects": 0}], "results": 1, "pages": 1, "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1569597881"
      X-Spec-Version:
      - 4.5.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1569597876"
      X-Spec-Version:
      - 4.5.0
    status: 200 OK
    code: 200
    duration: ""
